@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #222;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 26px;
}

.logo {
    margin-top: 1.5rem;
    width: 200px;
    height: 110px;
}

.person {
    margin-top: 1vh;
    width: 55px;
    height: 55px;
}

.compras {
    margin-top: 2vh;
    width: 40px;
    height: 45px;
}
.links{
    margin-top: 4vh;
}

.links a {
    transition: 1s ease-in-out;
}

.links a:hover{
    color: #86ffff;
}
.mobile-menu {
    margin-top: 1rem;
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.container {
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skyDarkCasaco {
    width: 540px;
    height: 320px;
    border-radius: 20px;
}

.skyPinkCasaco {
    width: 540px;
    height: 320px;
    border-radius: 20px;
}

.containerCasacos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 9vh;
}

.containerCasacos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 9vh;
}

.containerCasacos3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 9vh;
    margin-bottom: 50px;
}



.casacoPreto {
    width: 310px;
    height: 315px;
    border-radius: 20px;
    box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
}
.casacoBranco {
    width: 310px;
    height: 315px;
    border-radius: 20px;
    box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
}
.casacoRoxo {
    width: 310px;
    height: 315px;
    border-radius: 20px;
    box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
}

.nameCasaco {
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
}

.nameCasaco p{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.priceCasaco {
    margin-left: 30px;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.comprar{
    margin-left: 10px;
    opacity: 1;
    border: 2px solid #86ffff;
    border-radius: 20px;
    transition: 500ms ease-in-out;
    padding: 5px;
}

.comprar:hover {
    background-color: #86ffff;
    color: #222;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #86ffff;
    border-radius: 30px;
}

@media (max-width: 1250px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .skyDarkCasaco {
        width: 588px;
        height: 356px;
        border-radius: 20px;
    }
    
    .skyPinkCasaco {
        width: 588px;
        height: 356px;
        border-radius: 20px;
    }
    
    .containerCasacos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
    }
    .containerCasacos2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .containerCasacos3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .casacoPreto {
        width: 450px;
        height: 380px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoBranco {
        width: 450px;
        height: 380px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoRoxo {
        width: 450px;
        height: 380px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }

    .addCart {
        opacity: 0;
        width: 0;
    }
    
}


@media (max-width: 865px) {
    
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background-color: #222;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: scale(0);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .person {
        width: 45px;
        height: 45px;
    }
    
    .compras {
        width: 30px;
        height: 35px;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: scale(100%);
    }

    .logo {
        width: 180px;
        height: 90px;
    }
}

@media (max-width: 660px) {
    
    body {
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .skyDarkCasaco {
        width: 420px;
        height: 275px;
        border-radius: 20px;
    }
    
    .skyPinkCasaco {
        width: 420px;
        height: 290px;
        border-radius: 20px;
    }
    
    .containerCasacos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .containerCasacos2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .containerCasacos3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    
    .casacoPreto {
        width: 380px;
        height: 320px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoBranco {
        width: 380px;
        height: 320px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoRoxo {
        width: 380px;
        height: 320px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .person {
        width: 45px;
        height: 45px;
    }
    
    .compras {
        width: 30px;
        height: 35px;
    }
}



@media (max-width: 390px) {
    
    body {
        overflow-x: hidden;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .skyDarkCasaco {
        width: 320px;
        height: 200px;
        border-radius: 20px;
    }
    
    .skyPinkCasaco {
        width: 320px;
        height: 200px;
        border-radius: 20px;
    }
    
    .containerCasacos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .containerCasacos2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }

    .containerCasacos3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 5vh;
        margin-bottom: 30px;
    }


    
    .casacoPreto {
        width: 280px;
        height: 240px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoBranco {
        width: 280px;
        height: 240px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .casacoRoxo {
        width: 280px;
        height: 240px;
        border-radius: 20px;
        box-shadow: -6px 10px 6px 5px rgba(0, 0, 0, 0.25);
    }
    .person {
        width: 45px;
        height: 45px;
    }
    
    .compras {
        width: 30px;
        height: 35px;
    }
    
}


.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(50px);
    }
}